body{background-color: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
    color:#434455;


}
.header-logo{ font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;}
    .header-logo-span
    {color:#2E2F42;}

    .footer{
        background-color:#2E2F42 ;
    }

    .link{
        text-decoration: none;
    }
    .header-list-studio{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;}
        .header-list-studio:hover{color: #404bbf; }
        .header-list-studio:focus{color: #404bbf;}
    .header-list-portfolio{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;}
        .header-list-portfolio:hover{color: #404bbf; }
        .header-list-portfolio:focus{color: #404bbf;}
    .header-list-contacts{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;}
            .header-list-contacts:hover{color: #404bbf; }
            .header-list-contacts:focus{color: #404bbf;}
            .address{font-style: normal;}
            .list{list-style-type: none;}
            .header-item-mail{font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;}
                .header-item-mail:hover{
                    color: #404bbf;}
                .header-item-mail:focus{
                    color: #404bbf;
                }
            .header-item-tel{
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
                }

             
                /*main page*/
                body{
                    font-family: "Roboto", sans-serif;
                    color: #434455;
                    background-color:#FFFFFF;}
                    :root{
                        background-color: #FFFFFF;
                      }


                      .list{list-style: none;}
                      .header-logo{
                        font-family: "Raleway", sans-serif;
                        font-weight: 800;
                        font-size: 18px;
                        line-height: 1.17;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #4d5ae5;
                        text-decoration: none;} 
                        
.header-logo-span {color: #2e2f42;}
.header-list-studio  {font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    list-style: none;}
        .header-list-studio:hover{color: #404bbf;

        }
        .header-list-studio:focus{color: #404bbf;

        }

.header-list-portfolio{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
list-style: none;}
    .header-list-portfolio:hover{color: #404bbf;

    }

    .header-list-portfolio:focus{color: #404bbf;

    }



.header-list-contacts{font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
list-style: none;}


.header-list-contacts:hover{color: #404bbf;

}
.header-list-contacts:focus{color: #404bbf;

}
address{
    font-style:normal ;
}

.list {list-style: none;
text-decoration: none;}
>link {
    text-decoration: none;
    list-style: none;
}
.header-item-mail{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.header-item-tel{ font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
text-decoration: none;
}

.header-list-contacts:hover{color: #404bbf;}
.header-list-contacts:focus{color: #404bbf;}

.hero-image
{background-color:  #2e2f42;
color: #FFFFFF;}

.h3
{font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;}

button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
cursor: pointer;}

    button:hover{ background-color: #404BBF;}

button:focus{ background-color: #404BBF;}
/*section2*/
.container-wared{
    position: absolute;
width: 1128px;
height: 104px;
left: 156px;
top: 792px;

}

.link-strategy
{
    font-family: 'Roboto';
font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.link-puctuality{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42


}

.link-diligence{
   
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}

.link-technologis{width: 264px;
    
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}




/*section3*/
.h3{font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;}


}
.logo-footer{ font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
text-decoration: none;
list-style: none;}
    
    .footer-logo-span{color:#FFFFFF}

    .footer{background-color: #2E2F42; color: #ffffff;}